/* Estilos de prueba. NO UTILIZAR en proyecto*/
/* Common */
@import "../assets/styles/common/config";
@import "../assets/styles/common/function";
@import "../assets/styles/common/reset";
@import "../assets/styles/common/colors";
@import "../../../node_modules/@haztivity/hz-navbar/src/scss/_hz-navbar.theme-default.scss";
@import "../resources/hztooltip/styles/themes/hz-tooltip-default.scss";
/* End common */
/* Components */
body {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}
.tooltip-template{
    display: none;
}
.tooltipster-box{
    .tooltip-template{
        display: block;
        img{
            max-width:none;
            max-height:none;
        }
    }
}
/* End components */