div
    p
        a(data-hz-resource="HzTooltip" title="Tooltip content!") Simple use
    p
        a(data-hz-resource="HzTooltip" data-tooltip-content="#tooltip-content") HTML Content
        div.tooltip-template
            p#tooltip-content
                img(src="./pages/6611/assets/images/rocket.png")