doctype html
html(lang='es')
    head
        meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset='UTF-8')
        title Title
        link(type="text/css" rel="stylesheet" href="./main.css")
        script(src='../../../jspm_packages/system.js')
        script(src='../../../config.js')
        script.
            SystemJS.import("./index.js");
    body

        main(data-hz-app)
            div(data-hz-pages)
        //script(src="1221.js")