/* Estilos de prueba. NO UTILIZAR en proyecto*/
/* Common */
@import "../../assets/styles/common/config";
@import "../../assets/styles/common/function";
@import "../../assets/styles/common/reset";
@import "../../assets/styles/common/colors";
@import "../../../src/styles/_hz-tooltip.structure.scss";
@import "../../../src/styles/_hz-tooltip.theme.scss";
/* End common */
/* Components */
body {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}
.tooltip-template{
    display: none;
}
@include hz-tooltip__theme-maker(
    $theme-name:"default",
    $arrow-height:1em,
    $arrow-width:1.5em,
    $BC-box:rgba(0,0,0,0.6),
    $BC-arrow:rgba(0,0,0,0.6),
    $TC-box:#fff
)
/* End components */